*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    vertical-align: middle;
    object-fit: cover;
}
body {
    overflow-x: hidden;
    scroll-behavior: smooth;
}